# =========================
# Node / NPM / Yarn
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build / Dist
# =========================
dist/
build/
out/

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development
.env.test
.env.production

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# TypeORM / Database
# =========================
*.sqlite
*.db

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Tests & Coverage
# =========================
coverage/
.nyc_output/

# =========================
# Docker
# =========================
.env.docker
docker-data/
